<table id="<%= dom_id friend %>">
  <thead>
  <th>First name:</th>
  <th>Last name:</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Twitter</th>
  <th>User Id</th>
  </thead>
  <tbody>
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= friend.user_id %></td>
  </tbody>
  </table>
    